docs/n8n/atlas-ads-webhooks-googleads-real.json
{
  "name": "Atlas ADS - Webhooks API (Google Ads Real)",
  "nodes": [
    {
      "parameters": {
        "content": "Configuração obrigatória:\n1) Defina o credential `Google Ads account` (googleAdsOAuth2Api) nos nós Google Ads e HTTP Request.\n2) Edite `managerCustomerId` e `clientCustomerId` nos nós de configuração.\n3) Ative este workflow e use os endpoints abaixo no frontend:\n- /google-ads/performance\n- /google-ads/campaigns\n- /google-ads/insights",
        "height": 240,
        "width": 560
      },
      "id": "c9e0f6ad-0878-49c2-a893-3aef4e3f32e3",
      "name": "Setup Notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1190,
        -520
      ]
    },
    {
      "parameters": {
        "path": "google-ads/performance",
        "httpMethod": "GET",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d6facc1c-fd6a-47d4-95d8-4560d4f4fd21",
      "name": "Webhook Performance",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -980,
        -280
      ],
      "webhookId": "atlas-ads-performance-real"
    },
    {
      "parameters": {
        "jsCode": "const query = ($json && $json.query) ? $json.query : {};\nconst period = String(query.period || '30d');\n\nconst periodMap = {\n  '7d': 'LAST_7_DAYS',\n  '30d': 'LAST_30_DAYS',\n  '90d': 'LAST_90_DAYS',\n};\n\nconst gaqlPeriod = periodMap[period] || 'LAST_30_DAYS';\n\nreturn [{\n  json: {\n    managerCustomerId: '1234567890',\n    clientCustomerId: '1234567890',\n    query: `SELECT segments.date, metrics.clicks, metrics.impressions, metrics.cost_micros, metrics.conversions FROM campaign WHERE segments.date DURING ${gaqlPeriod}`\n  }\n}];"
      },
      "id": "d5b99221-d2cf-4604-8afc-6df0a18d467f",
      "name": "Prepare Performance Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -730,
        -280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://googleads.googleapis.com/v19/customers/{{$json.clientCustomerId}}/googleAds:searchStream",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleAdsOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "login-customer-id",
              "value": "={{ $json.managerCustomerId }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"query\": $json.query } }}",
        "options": {}
      },
      "id": "eb239309-f149-4bdb-b574-66a3199c0288",
      "name": "Google Ads SearchStream Performance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -460,
        -280
      ],
      "credentials": {
        "googleAdsOAuth2Api": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Google Ads account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst batches = items.flatMap((item) => {\n  const payload = item.json;\n\n  if (Array.isArray(payload)) {\n    return payload;\n  }\n\n  return [payload];\n});\n\nconst byDate = new Map();\n\nfor (const batch of batches) {\n  const rows = Array.isArray(batch?.results) ? batch.results : [];\n\n  for (const row of rows) {\n    const date = row?.segments?.date || row?.segments_date || row?.date;\n    if (!date) {\n      continue;\n    }\n\n    const current = byDate.get(date) || {\n      data: date,\n      cliques: 0,\n      impressoes: 0,\n      custo: 0,\n      conversoes: 0,\n    };\n\n    current.cliques += Number(row?.metrics?.clicks || 0);\n    current.impressoes += Number(row?.metrics?.impressions || 0);\n    current.custo += Number(row?.metrics?.costMicros || row?.metrics?.cost_micros || 0) / 1000000;\n    current.conversoes += Number(row?.metrics?.conversions || 0);\n\n    byDate.set(date, current);\n  }\n}\n\nconst output = Array.from(byDate.values())\n  .sort((a, b) => String(a.data).localeCompare(String(b.data)))\n  .map((item) => ({\n    ...item,\n    custo: Number(item.custo.toFixed(2)),\n  }));\n\nreturn [{ json: output }];"
      },
      "id": "4fd8399d-f95c-4306-a8d5-43a56ca4d017",
      "name": "Normalize Performance",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -190,
        -280
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "e8ef6778-7848-4a8e-a93f-581af2dd264a",
      "name": "Response Performance",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        60,
        -280
      ]
    },
    {
      "parameters": {
        "path": "google-ads/campaigns",
        "httpMethod": "GET",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "bec2dbbb-8c80-4385-9cb8-08d540217f57",
      "name": "Webhook Campaigns",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -980,
        0
      ],
      "webhookId": "atlas-ads-campaigns-real"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    managerCustomerId: '1234567890',\n    clientCustomerId: '1234567890'\n  }\n}];"
      },
      "id": "3cf52ccf-0031-4fab-9c38-cfd8157c62ca",
      "name": "Prepare Campaigns Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -730,
        0
      ]
    },
    {
      "parameters": {
        "resource": "campaign",
        "operation": "getAll",
        "managerCustomerId": "={{ $json.managerCustomerId }}",
        "clientCustomerId": "={{ $json.clientCustomerId }}",
        "returnAll": true,
        "requestOptions": {}
      },
      "id": "4041e899-9ed9-4547-b0a9-a5afd1504309",
      "name": "Google Ads Get Campaigns",
      "type": "n8n-nodes-base.googleAds",
      "typeVersion": 1,
      "position": [
        -460,
        0
      ],
      "credentials": {
        "googleAdsOAuth2Api": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Google Ads account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst normalizeType = (value) => {\n  const input = String(value || '').toLowerCase();\n  if (input.includes('display')) return 'Display';\n  if (input.includes('video') || input.includes('vídeo')) return 'Vídeo';\n  if (input.includes('max') || input.includes('performance')) return 'PMax';\n  return 'Pesquisa';\n};\n\nconst normalizeStatus = (value) => {\n  const input = String(value || '').toLowerCase();\n  if (['enabled', 'active', 'ativa'].includes(input)) return 'Ativa';\n  if (['limited', 'limitada'].includes(input)) return 'Limitada';\n  return 'Pausada';\n};\n\nconst campaigns = items.map((item, index) => {\n  const row = item.json || {};\n\n  const orcamentoMicros = Number(\n    row?.campaignBudget?.amountMicros ||\n    row?.campaign_budget?.amount_micros ||\n    row?.budgetAmountMicros ||\n    0\n  );\n\n  const custoMicros = Number(\n    row?.metrics?.costMicros ||\n    row?.metrics?.cost_micros ||\n    0\n  );\n\n  return {\n    id: String(row?.campaign?.id || row?.id || `campaign-${index + 1}`),\n    nome: String(row?.campaign?.name || row?.name || `Campanha ${index + 1}`),\n    tipo: normalizeType(row?.campaign?.advertisingChannelType || row?.advertisingChannelType || row?.type),\n    status: normalizeStatus(row?.campaign?.status || row?.status),\n    orcamento: Number((orcamentoMicros / 1000000).toFixed(2)),\n    cliques: Number(row?.metrics?.clicks || row?.cliques || 0),\n    impressoes: Number(row?.metrics?.impressions || row?.impressoes || 0),\n    custo: Number((custoMicros / 1000000).toFixed(2)),\n    conversoes: Number(row?.metrics?.conversions || row?.conversoes || 0),\n  };\n});\n\nreturn [{ json: campaigns }];"
      },
      "id": "1d8f1f8a-8ea7-4702-8094-f8cdd9da5f9f",
      "name": "Normalize Campaigns",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -190,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "5b4b1171-e96f-4d8f-80df-f6eb3f4ca783",
      "name": "Response Campaigns",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        60,
        0
      ]
    },
    {
      "parameters": {
        "path": "google-ads/insights",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "7f880231-4f5e-4a4b-a29f-47f4c8f97877",
      "name": "Webhook Insights",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -980,
        280
      ],
      "webhookId": "atlas-ads-insights-real"
    },
    {
      "parameters": {
        "jsCode": "const body = ($json && $json.body && typeof $json.body === 'object') ? $json.body : {};\nconst campaigns = Array.isArray(body.campaigns) ? body.campaigns : [];\nconst performance = Array.isArray(body.performance) ? body.performance : [];\n\nconst totalClicks = performance.reduce((acc, item) => acc + Number(item.cliques || 0), 0);\nconst totalConversions = performance.reduce((acc, item) => acc + Number(item.conversoes || 0), 0);\nconst totalCost = performance.reduce((acc, item) => acc + Number(item.custo || 0), 0);\nconst conversionRate = totalClicks > 0 ? (totalConversions / totalClicks) * 100 : 0;\n\nconst pausedCampaigns = campaigns.filter((item) => String(item.status || '').toLowerCase() === 'pausada');\nconst lowVolumeCampaigns = campaigns.filter((item) => Number(item.cliques || 0) < 300);\n\nconst insights = [];\n\nif (conversionRate < 5) {\n  insights.push({\n    id: 'ins-1',\n    titulo: 'Conversão abaixo da meta',\n    recomendacao: 'Ajuste termos de pesquisa e inclua extensões para aumentar cliques qualificados.',\n    impacto: 'ROI',\n    prioridade: 'alta'\n  });\n}\n\nif (totalCost > 4000) {\n  insights.push({\n    id: 'ins-2',\n    titulo: 'Custo elevado no período',\n    recomendacao: 'Redistribua orçamento para campanhas com maior taxa de conversão e menor CPC.',\n    impacto: 'Orçamento',\n    prioridade: 'media'\n  });\n}\n\nif (pausedCampaigns.length > 0) {\n  insights.push({\n    id: 'ins-3',\n    titulo: 'Campanhas pausadas detectadas',\n    recomendacao: `Revise ${pausedCampaigns.length} campanha(s) pausada(s) para recuperar volume.`,\n    impacto: 'Lances',\n    prioridade: 'media'\n  });\n}\n\nif (lowVolumeCampaigns.length > 0) {\n  insights.push({\n    id: 'ins-4',\n    titulo: 'Baixo volume em parte das campanhas',\n    recomendacao: 'Teste novos criativos e variações de público para ampliar alcance.',\n    impacto: 'Criativos',\n    prioridade: 'baixa'\n  });\n}\n\nif (insights.length === 0) {\n  insights.push({\n    id: 'ins-default',\n    titulo: 'Performance estável',\n    recomendacao: 'Mantenha a estratégia e monitore variações de CPC e conversão semanalmente.',\n    impacto: 'ROI',\n    prioridade: 'baixa'\n  });\n}\n\nreturn [{ json: insights }];"
      },
      "id": "24ac85d5-a3b9-440b-aa4e-05eb5abb12ba",
      "name": "Build Insights",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -730,
        280
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "e62aa9ea-f808-4896-b48f-c3cbcb5f817d",
      "name": "Response Insights",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -460,
        280
      ]
    }
  ],
  "connections": {
    "Webhook Performance": {
      "main": [
        [
          {
            "node": "Prepare Performance Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Performance Query": {
      "main": [
        [
          {
            "node": "Google Ads SearchStream Performance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Ads SearchStream Performance": {
      "main": [
        [
          {
            "node": "Normalize Performance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Performance": {
      "main": [
        [
          {
            "node": "Response Performance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Campaigns": {
      "main": [
        [
          {
            "node": "Prepare Campaigns Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Campaigns Query": {
      "main": [
        [
          {
            "node": "Google Ads Get Campaigns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Ads Get Campaigns": {
      "main": [
        [
          {
            "node": "Normalize Campaigns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Campaigns": {
      "main": [
        [
          {
            "node": "Response Campaigns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Insights": {
      "main": [
        [
          {
            "node": "Build Insights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Insights": {
      "main": [
        [
          {
            "node": "Response Insights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b7d2d5e2-fdeb-4464-98d2-ff18297a5c11",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "pinData": {}
}
